{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">rimsdash demo</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Embedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}