[database]
type=postgresql
host=xxxx
username=xxxx
password=xxxx
name=xxxx

[email]
username=xxxx
password=xxxx
smtp_server=smtp.gmail.com
smtp_port=587

[logging]
log_file=/var/log/pitschi/pitschi-xapi.log

[ppms]
syncing_ppms_project=yes
project_sync_day=7
syncing_ppms_bookings=yes
booking_sync_minute=5
project_starting_ref=1376
ppms_url=xxx
api2_key=xxxx
ppms_key=xxxx
qcollection_action=xxxx
q_collection_field=xxxx
booking_query=xxxx
coreid=xxx
timezone=Australia/Brisbane

[rdm]
prefix=xxxx

[clowder]
url=xxx
api_url=xxxx/api
api_key=xxxx
ingesting=no
ingest_frequency=30
wait_time_to_sync=24

[admin]
admin_username=xxxx
admin_password=xxxx

[keycloak]
server_url=xxxxxxxxxx
realm_name=xxxxxxxxxxx
client_id=xxxxxxxxxxxxxx
client_secret=xxxxxxxxxxxxxxxxx
authorization_url=xxxxxxxxxxxxxxxxx
token_url=xxxxxxxxxxxx
public_key=xxxxxxxxxxx

[miscs]
teams_webhook=xxxx

[creds]
# key using to encrypt credentials - already encrypted using client_key
encrypted_key=xxxx
encrypted_creds=xxxx